torch 
torchvision
tensorboardX
opencv-python
opencv-contrib-python
skimage
pyquaternion
tqdm
h5py
numpy
PyYAML
pprint
enum34
future
matplotlib
transforms3d
lmdb
setuptools
cffi
easydict
plyfile
glumpy